.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 35px;
  padding: 10px;
  color: white;
}

.App-header h1{
  position: absolute;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin-top: 0;
  font-size: large;
}
